[MESSAGES CONTROL]
disable=
    C0103,  # Variable name "id" doesn't conform to snake_case naming style
    R1705,  # Unnecessary "else" after "return"
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    missing-docstring,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

[FORMAT]
max-line-length = 80
indent-string = '    '

[DESIGN]
max-attributes = 10  # Maximum number of attributes for a class
max-args = 5         # Maximum number of arguments for a function

[BASIC]
good-names= i, j, k, ex, Run, _

[TYPECHECK]
ignored-classes=SQLAlchemy


